
*.vsidx
*.vsidx
FashionForward/.vs/FashionForward/v17/.suo
FashionForward/.vs/FashionForward/v17/.wsuo
*.pdb
*.vsidx
*.cache
*.vsidx
FashionForward/.vs/FashionForward/v17/.suo
FashionForward/.vs/FashionForward/FileContentIndex/3acbd8d4-2cc7-4964-8568-f73f5f0e83cf.vsidx
*.vsidx
FashionForward/.vs/FashionForward/v17/.suo
FashionForward/.vs/slnx.sqlite
*.vsidx
FashionForward/.vs/FashionForward/FileContentIndex/3acbd8d4-2cc7-4964-8568-f73f5f0e83cf.vsidx
FashionForward/.vs/FashionForward/v17/.suo
